<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %} 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Your CV</title>
</head>
<body>
    <header>
        <img src="{% static 'img/Macarious Gadelkarim.png' %}" alt="Your Photo">
        <h1>Macarious Labib Gadelkarim</h1>
        <p>Computer Engineering Student</p>
    </header>
    
    <section class="info">
        <h2>Contact Information</h2>
        <ul>
            <li>Address: 6 October City, Egypt</li>
            <li>Phone: +201229074549</li>
            <li>Email: m.labibebidallah@nu.edu.eg</li>
        </ul>
    </section>
    
    <section class="education">
        <h2>Education</h2>
        <p><strong>Nile University</strong></p>
        <p>Bachelor’s Degree in Computer Engineering</p>
        <p>2020-2025</p>
        <p>Cumulative GPA: 3.86/4.0 (High Honor)</p>
    </section>
    
    <section class="experience">
        <h2>Experience</h2>
        <p><strong>Junior Teaching Assistant</strong></p>
        <p>Nile University, Giza, Egypt</p>
        <p>2022-2022</p>
        <ul>
            <li>Provided support and assistance to individual students.</li>
            <li>Worked with the TA to monitor class attendance and schedule.</li>
        </ul>
        
        <p><strong>Information Services Internship</strong></p>
        <p>Seoudi Supermarket</p>
        <p>2023-2023</p>
        <ul>
            <li>Gained valuable insights about ERP systems and blockchain technology.</li>
            <li>Utilized Node.js and Express to develop responsive web applications.</li>
            <li>Hands-on experience in networking and security practices.</li>
        </ul>
    </section>

    <section class="courses">
        <h2>Courses</h2>
        <ul>
            <li>Meta Back-End Developer Professional Certificate - Coursera (Feb 2022 - Present)</li>
            <li>Meta Database Structures and Management with MySQL – Coursera (Feb 2022 - Present)</li>
            <li>Web Development - EG FWD (July 2021)</li>
        </ul>
    </section>

    <section class="projects">
        <h2>Projects & Achievements</h2>
        <ul>
            <li>Design and prototyping an environmentally friendly garbage collection control system for smart cities.</li>
            <li>Creating GUI Python Program Application for assisting Multiple Tasks on Desktop.</li>
            <li>Prototyping a controllable voltage power supply connected to Current mirror model.</li>
            <li>Experienced in building website backends using Django, a Python web framework.</li>
        </ul>
    </section>

    <section class="skills">
        <h2>Skills</h2>
        <p><strong>Languages</strong></p>
        <p>English: Very Good</p>
        <p><strong>Technical Skills</strong></p>
        <ul>
            <li>Strong Knowledge of Python</li>
            <li>Strong Knowledge of Django framework</li>
            <li>Good Knowledge of JavaScript, C++ & Java</li>
            <li>Good Knowledge of Node JS framework</li>
            <li>Good Knowledge of Algorithms, Data Structures</li>
            <li>Good Knowledge Database MySQL</li>
            <li>Knowledge of Bash & Git</li>
            <li>Good Problem-solving Analytical mindset, skilled at identifying and resolving complex tasks.</li>
            <li>Microsoft Services Word, Excel & PowerPoint</li>
        </ul>
        <p><strong>Soft Skills</strong></p>
        <ul>
            <li>Strong teamwork actively contributes to team success and adapting to different working styles.</li>
            <li>Strong verbal and written communication skills, with the ability to explain technical concepts effectively.</li>
            <li>Emotional Intelligence and the ability to empathize and work well with diverse individuals.</li>
        </ul>
    </section>

</body>
</html>

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Your CV</title>
</head>
<body>
    <header>
        <img src="{% static 'img/Macarious Gadelkarim.png' %}" alt="Your Photo">
        <h1>Your Name</h1>
        <p>Web Developer</p>
    </header>
    
    <section class="info">
        <h2>Contact Information</h2>
        <ul>
            <li>Email: your.email@example.com</li>
            <li>Phone: (123) 456-7890</li>
            <li>Website: www.yourwebsite.com</li>
        </ul>
    </section>
    
    <section class="education">
        <h2>Education</h2>
        <p><strong>University Name</strong></p>
        <p>Bachelor of Science in Computer Science</p>
        <p>Graduated: May 20XX</p>
    </section>
    
    <section class="experience">
        <h2>Work Experience</h2>
        <p><strong>Web Developer</strong></p>
        <p>XYZ Tech Solutions</p>
        <p>June 20XX - Present</p>
        <ul>
            <li>Developed and maintained company website using HTML, CSS, and JavaScript.</li>
            <li>Collaborated with cross-functional teams to implement new features and improvements.</li>
            <li>Performed website optimization for better performance and user experience.</li>
        </ul>
    </section>
</body>
</html> -->
